body{
    background-image: url(space.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header{
    color: darkcyan;
    text-align: center;
    text-shadow: 2px 2px 5px black;

}
h1{
    font-size: 10vh;
    margin-bottom: 0;
}
h2,h3{
    font-size: 5vh;
}

.movie-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 5rem;
    justify-items: center;
}


.movieCard{
    grid-column-start: 2;
    background-color: rgba(148, 148, 148, 0.8);
    grid-column-start: 2;
    max-width: 75%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem;
    font-size: larger;
    font-weight: bolder;
    box-shadow: 0px 0px 5px 5px grey;
}
.movieCard > *{
    margin: 10px;
}

.rndImg{
    max-width: 200px;
    max-height: 200px;
}

.loadingGif {
    grid-column-start: 2;
    border: 16px solid rgb(217 195 195 / 40%);
    border-top: 16px solid rgb(75 6 76 / 40%);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

